@font-face {
  font-family: 'RougeScript-Regular';
  src: url('RougeScript-Regular.eot');
  src: url('RougeScript-Regular.eot?#iefix') format('embedded-opentype'),
       url('RougeScript-Regular.woff2') format('woff2'),
       url('RougeScript-Regular.woff') format('woff'),
       url('RougeScript-Regular.ttf') format('truetype'),
       url('RougeScript-Regular.svg#RougeScript-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

